<!DOCTYPE html>
<html>
<body>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/jmt/">
        <link href="css/main.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="images/mountain-16x16.png">
        <link rel="shortcut icon" type="image/png" sizes="32x32" href="images/mountain-32x32.png">
        <link rel="shortcut icon" type="image/png" sizes="64x64" href="images/mountain-64x64.png">
    </head>
    <style>
    .hidden {
        display: none;
    }
    .expandedContainer {
        max-width: 100%;
        max-height: 90vh;
        overflow: hidden;
        overflow-x: auto;
        overflow-y: auto;
        cursor: grab;
    }

    .dragging {
        cursor: grabbing;
        user-select: none;
    }
    </style>
<body>
    <p>Here's some text before</p>
    <figure class="captionImage expando">
        <img class="photo" src="https://photos.smugmug.com/photos/i-Bx7RMpc/0/25b951e5/L/i-Bx7RMpc-L.png">
        <figcaption>
            Day by day elevation profile - click for expanded and scrollable version
        </figcaption>
    </figure>
    <script>
    // Transform from this:
    // https://photos.smugmug.com/photos/i-Bx7RMpc/0/25b951e5/L/i-Bx7RMpc-L.png
    // to this:
    // https://photos.smugmug.com/photos/i-Bx7RMpc/0/25b951e5/O/i-Bx7RMpc.png
    function getFullSizeUrl(base) {
        const sizePieceIndexFromEnd = 2;
        const filenamePieceIndexFromEnd = 1;
        const pieces = base.split("/");
        const len = pieces.length;
        // replace size in URL with original "O"
        pieces[len - sizePieceIndexFromEnd] = "O";

        const filename = pieces[len - filenamePieceIndexFromEnd];
        pieces[len - filenamePieceIndexFromEnd] = filename.replace(/(-[^.]{1,2})(\..{1,4})$/, "$2");
        return pieces.join("/");
    }

    function configureDragScroll(elem) {
        let pos = { top: 0, left: 0, x: 0, y: 0 };
        let mouseDownTime;

        function mouseDownHandler(e) {
            console.log("mouseDownHandler");

            elem.classList.add("dragging");
            elem.style.cursor = 'grabbing';
            elem.style.userSelect = 'none';

            pos = {
                left: elem.scrollLeft,
                top: elem.scrollTop,
                // Get the current mouse position
                x: e.clientX,
                y: e.clientY,
            };

            elem.addEventListener('click', dragClickHandler, {
                capture: true, once: true
            });
            document.addEventListener('mousemove', mouseMoveHandler);
            document.addEventListener('mouseup', mouseUpHandler);

            mouseDownTime = Date.now();
        }

        function mouseMoveHandler(e) {
            console.log("mouseMoveHandler");
            // How far the mouse has been moved
            const dx = e.clientX - pos.x;
            const dy = e.clientY - pos.y;

            // Scroll the element
            elem.scrollTop = pos.top - dy;
            elem.scrollLeft = pos.left - dx;
        }

        function mouseUpHandler(e) {
            console.log("mouseUpHandler");

            elem.style.cursor = 'grab';
            elem.style.removeProperty('user-select');
            document.removeEventListener('mousemove', mouseMoveHandler);
            document.removeEventListener('mouseup', mouseUpHandler);

            elem.classList.remove("dragging");
        }

        // if the mouse was down for more than 250ms, treat this as a drag
        //     and prevent the click event
        // if the mouse was down for less than 250ms, treat this is a click
        //     and let the click event occur
        function dragClickHandler(e) {
            console.log("Got drag click handler");
            const deltaT = Date.now() - mouseDownTime;
            const dx = Math.abs(e.clientX - pos.x);
            const dy = Math.abs(e.clientY - pos.y);
            const minT = 250;
            const minXY = 15;
            console.log(deltaT, dx, dy);
            if (deltaT > 250 || dx > minXY || dy > minXY) {
                e.preventDefault();
                e.stopImmediatePropagation();
            }
        }

        elem.addEventListener('mousedown', mouseDownHandler, true);
    }

    let expandos = document.querySelectorAll(".captionImage.expando");
    for (let expando of expandos) {
        expando.addEventListener("click", function(e) {
            let img = expando.querySelector("img");
            let src = getFullSizeUrl(img.src);

            // hide existing image and caption
            expando.classList.add("hidden");
            let div = document.createElement("div");
            div.className = "expandedContainer";
            div.draggable = false;
            div.innerHTML = `<img class="expanded" draggable="false" src="${src}">`;
            configureDragScroll(div);
            div.addEventListener("click", function(e) {
                expando.classList.remove("hidden");
                div.parentNode.removeChild(div);
            });
            expando.parentNode.insertBefore(div, expando);
        });
    }
    </script>
    <p>Here's some text after</p>
</body>
</html>
