<!DOCTYPE html>
<html>
<body>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/jmt/">
        <link href="css/main.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="images/mountain-16x16.png">
        <link rel="shortcut icon" type="image/png" sizes="32x32" href="images/mountain-32x32.png">
        <link rel="shortcut icon" type="image/png" sizes="64x64" href="images/mountain-64x64.png">
    </head>
    <style>
    .hidden {
        display: none;
    }
    .expandedContainer {
        max-width: 100%;
        max-height: 90vh;
        overflow: hidden;
        overflow-x: auto;
        overflow-y: auto;
        cursor: grab;
    }

    .dragging {
        cursor: grabbing;
        user-select: none;
    }
    </style>
<body>

    <p>Some regular text outside of any table<br>
    And, more text<br>
    And, more text<br></p>

    <style>
        body {
            padding: 0 20px;
        }
        .photoContainer {
            position: relative;
            display: inline-block;
        }

        .photoContainer img {
            vertical-align: bottom;
            cursor: zoom-in;
        }

        .photoContainer::after {
            content: "";
            background-image: url("images/page-curl-30-2.png");
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 5;
            height: 29px;
            width: 30px;
        }
    </style>


    <p>Here's some text before</p>
    <figure class="captionImage expando">
        <div class="photoContainer">
            <img class="photo" src="https://photos.smugmug.com/photos/i-3gndgbh/1/4e63f3f5/L/i-3gndgbh-L.jpg">
        </div>
        <figcaption>
            Day by day elevation profile - click for expanded and scrollable version
        </figcaption>
    </figure>
    <p>Here's some text after</p>
</body>
</html>
