{# image with a caption (larger sizes available on Smugmug) #}
{# todo item: add expando option for viewing larger sizes #}
{% macro photo(url, caption='') %}
{% if caption %}
<figure class="captionImage">
    <img class="photo" src="https://photos.smugmug.com/photos{{url}}" onload="captionLoaded(this)">
    <figcaption>
        {{caption}}
    </figcaption>
</figure>
{% else %}
<img class="photo" src="https://photos.smugmug.com/photos{{url}}">
{% endif %}
{% endmacro %}

{# image with a caption (no larger sizes available) #}
{% macro image(url, caption='') %}
{% if caption %}
<figure class="captionImage">
    <img class="photo" src="images/{{url}}" onload="captionLoaded(this)">
    <figcaption>
        {{caption}}
    </figcaption>
</figure>
{% else %}
<img class="photo" src="images/{{url}}">
{% endif %}
{% endmacro %}

{# photo with a caption (expando) #}
{% macro expandoPhoto(url, caption='') %}
{% if caption %}
<figure class="captionImage expando">
    <img class="photo" src="https://photos.smugmug.com/photos{{url}}" onload="captionLoaded(this)" data-width="_www_" data-height="_hhh_">
    <figcaption>
        {{caption}}
    </figcaption>
</figure>
{% else %}
<figure class="captionImage expando top">
    <img class="photo" src="https://photos.smugmug.com/photos{{url}}" data-width="_www_" data-height="_hhh_">
</figure>
{% endif %}
{% endmacro %}



{# raw youtube video embed (utility macro for within this file)
   This has hard-wired youtube embedding parameters for this project
#}
{% macro makeYouTubeEmbed(id) %}
<div class="embed-wrapper"><iframe width="" height="" src="https://www.youtube.com/embed/{{id | safe}}?fs=1&rel=0&modestbranding=1&loop=0&controls=1&autoplay=0&fs=0&showinfo=0&color=red&vq=720p" frameborder="0" allowfullscreen></iframe></div>
{% endmacro %}

{# youtube video with a caption #}
{% macro youtube(id, caption='') %}
{% if caption %}
<div class="captionVideo">
    <div class="videoContainer">
        {{makeYouTubeEmbed(id) | safe}}
    </div>
    <div class="caption center">{{caption}}</div>
</div>
{% else %}
    {{makeYouTubeEmbed(id) | safe}}
{% endif %}
{% endmacro %}
