<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/jmt/">
  <link href="css/main.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="images/mountain-16x16.png">
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="images/mountain-32x32.png">
  <link rel="shortcut icon" type="image/png" sizes="64x64" href="images/mountain-64x64.png">
  <title>{{title}}</title>
  <script src="js/init.js"></script>
  <noscript>
    <link href="css/noscript.css" rel="stylesheet">
  </noscript>
</head>
<body>
    <div class="header">
        <div class="container">
            <div id="menu" class="left menu">
                <img class="burger" src="images/hamburger-17x22-3.png">
                <div class="popup">
                    <div class="popup-inner">
                        <ul>
                          {%- for item in pages %}
                            <li><a href="{{item.url}}" tabindex="-1">{{ item.name }}</a></li>
                          {%- endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="title">
                <h2>The John Muir Trail</h2>
            </div>
            <div id="navArrows" class="right">
               <a href="{{prevUrl}}"><img src="images/left-22.png"></a>
               <span class="spacer"></span>
               <a href="{{nextUrl}}"><img src="images/right-22.png"></a>
           </div>
        </div>
    </div>
    <div id="content" class="content centerBox">
        {% block content %}
        {% endblock %}
        <p id="bottom-nav" class="center">
        {%- if prevUrl or prevUrl === "" %}
           {%- set foundPrev = true -%}
           <a href="{{prevUrl}}">{{prevName}}</a>
        {%- endif -%}
        {%- if foundPrev and nextUrl -%}
         |
        {%- endif -%}
        {%- if nextUrl -%}
           <a href="{{nextUrl}}">{{nextName}}</a>
        {%- endif -%}
        </p>

    </div>
    <script src="js/main.js"></script>
</body>
</html>
