<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/jmt/">
  <link href="css/main.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="images/mountain-16x16.png">
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="images/mountain-32x32.png">
  <link rel="shortcut icon" type="image/png" sizes="64x64" href="images/mountain-64x64.png">
  <title>{{title}}</title>
  <script src="js/init.js"></script>
  <noscript>
    <link href="css/noscript.css" rel="stylesheet">
  </noscript>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="left">
                <img id="menu" src="images/hamburger-17x22-3.png">
            </div>
            <div class="title">
                <a href="" class="plain"><h2>The John Muir Trail Was Simple An Amazing Experience That Cannot Be Repeated</h2></a>
            </div>
            <div id="navArrows" class="right">
               <a href=""><img src="images/left-22.png"></a>
               <span class="spacer"></span>
               <a href=""><img src="images/right-22.png"></a>
           </div>
        </div>
    </div>
    <div id="content" class="content centerBox">
        {% block content %}
        {% endblock %}
        <p id="bottom-nav" class="center"></p>
    </div>
    <script src="js/main.js"></script>
</body>
</html>
