<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/jmt/">
  <link href="css/main.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="images/mountain-16x16.png">
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="images/mountain-32x32.png">
  <link rel="shortcut icon" type="image/png" sizes="64x64" href="images/mountain-64x64.png">
  <title>{{title}}</title>
</head>
<body>
    <div class="header">
      <div class="container">
        <div class="column left">
          <span id="menu"><img src="images/hamburger-17x22-3.png"></span>
          <a href="" class="plain"><h2>The John Muir Trail</h2></a>
        </div>
        <div class="column right">
          <span id="navArrows">
            <a href=""><img src="images/left-32.png"></a>
            <a href=""><img src="images/right-32.png"></a>
          </span>
        </div>
      </div>
    </div>
    <div class="content centerBox">
        {% block content %}
        {% endblock %}
        <p id="bottom-nav" class="center"></p>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
